<article class="my-2 {{post_class}}">
    <div class="flex items-center">
        <div class="flex-1">
            <a class="hover:underline decoration-2" href="{{url}}">
                <h3 class="font-medium font-work-sans text-lg">{{title}}</h3>
            </a>
        </div>
        <div class="ml-12">
            <span class="font-work-sans text-md text-slate-400">
                <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
            </span>
        </div>
    </div>
</article>