<li class="py-10 flex flex-col">
  <h1 class="font-bold font-work-sans text-xl grow whitespace-nowrap overflow-hidden text-ellipsis dark:text-gray-200">
    <a class="hover:underline decoration-2" href="{{url}}">
      {{title}}
    </a>
  </h1>
  <div class="flex">
    <span class="font-work-sans text-slate-400 text-md">
      <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
    </span>
  </div>
  <p class="font-merriweather dark:text-gray-200 text-md my-4">{{excerpt characters="200"}} [...]</p>
  <div class="flex justify-center">
    <a href="{{url}}" class="font-work-sans font-bold dark:text-gray-200 hover:underline decoration-2">LEER
      MÁS →</a>
  </div>
</li>