<article class="my-2 {{post_class}}">
    <div class="flex items-center">
        <div class="flex min-w-[50px] mr-4">
            <span class="font-work-sans text-sm text-slate-400">
                <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM"}}</time>
            </span>
        </div>
        <h3 class="font-medium font-work-sans text-lg grow whitespace-nowrap overflow-hidden text-ellipsis">
            <a class="hover:underline decoration-2" href="{{url}}">
                {{title}}
            </a>
        </h3>
    </div>
</article>