<li class="py-10 flex flex-col md:flex-row">
  {{#if feature_image}}
    <figure class="min-w-full min-h-[200] mb-4 md:mb-0 md:min-w-[200] md:min-h-full rounded-lg bg-cover bg-center"
      style="background-image: url({{feature_image}})">
    </figure>
  {{/if}}
  <div class="md:pl-6">
    <h1
      class="font-bold font-work-sans text-xl grow whitespace-nowrap overflow-hidden text-ellipsis dark:text-gray-200">
      <a class="hover:underline decoration-2" href="{{url}}">
        {{title}}
      </a>
    </h1>
    <div class="flex">
      <span class="font-work-sans text-slate-400 text-md">
        <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
      </span>
    </div>
    <p class="font-merriweather dark:text-gray-200 text-md my-4">{{excerpt characters="140"}}...</p>
    <a href="{{url}}" class="font-work-sans font-bold dark:text-gray-200 hover:underline decoration-2">LEER
      MÁS →</a>
  </div>
</li>