<header class="flex items-center justify-between max-w-screen-lg mx-auto py-4 md:py-0 px-8 lg:px-0">
	<a href="/" class="font-work-sans text-xl font-bold dark:text-slate-100">[ Sin Acento ]</a>
	<button class="flex md:hidden" @click="openMenu = !openMenu">
		{{> "icons/menu"}}
	</button>
	<nav class="hidden md:flex">
		<ul class="flex flex-row gap-2">
			{{#foreach navigation}}
				<li class="md:p-4">
					<a class="font-work-sans font-semibold text-lg {{#if current}} text-gray-800 dark:text-white underline underline-offset-4 decoration-brand-400 {{else}} hover:text-brand-400 text-gray-400 dark:text-gray-400 dark:hover:text-white {{/if}}"
						href="{{url absolute='true'}}">{{label}}</a>
				</li>
			{{/foreach}}
		</ul>
	</nav>
</header>
<nav class="fixed top-0 right-0 bottom-0 left-0 backdrop-blur-sm z-10" :class="openMenu ? 'visible' : 'invisible' "
	x-cloak>
	<ul
		class="absolute flex flex-col items-center justify-center space-y-8 top-0 right-0 bottom-0 w-10/12 py-4 bg-white dark:bg-[#1c1c1c] z-10 transition-all"
		:class="openMenu ? 'translate-x-0' : 'translate-x-full'">
		<li><a href="/" class="font-work-sans text-xl font-bold text-brand-400 dark:text-slate-100">[ Sin Acento ]</a></li>
		{{#foreach navigation}}
			<li class="md:p-4">
				<a class="font-work-sans text-gray-400 text-lg {{#if current}} text-brand-400 dark:text-white font-bold underline underline-offset-4 decoration-gray-800 {{else}} hover:text-gray-800 hover:underline hover:underline-offset-4 hover:decoration-brand-500 hover:font-bold dark:text-slate-400 dark:hover:text-white {{/if}}"
					href="{{url absolute='true'}}">{{label}}</a>
			</li>
		{{/foreach}}
	</ul>
	<button class="absolute top-0 right-0 bottom-0 left-0" @click="openMenu = !openMenu">
		{{> "icons/close"}}
	</button>
</nav>