<a href="{{url}}" class="flex flex-wrap flex-col max-w-sm">
  {{#if feature_image}}
    <figure class="min-w-[350] min-h-[200] mb-4 rounded-lg bg-cover bg-center"
      style="background-image: url({{feature_image}})">
    </figure>
  {{/if}}
  <h1 class="font-bold font-work-sans text-xl grow whitespace-nowrap overflow-hidden text-ellipsis dark:text-gray-200">
    {{title}}
  </h1>
  <div class="flex">
    <span class="font-work-sans text-slate-400 text-md">
      <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
    </span>
  </div>
</a>