<html lang='{{@site.locale}}'>

<head>
	<meta charset='utf-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />
	<link rel='stylesheet' type='text/css' href='{{asset "built/screen.css"}}' />
	<title>{{meta_title}}</title>
	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossOrigin />
	<link href='https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans:wght@400;500;700&display=swap'
		rel='stylesheet' />
	{{ghost_head}}
</head>

<body class='{{body_class}} bg-neutral-50'>
	<header class='flex items-center justify-center h-16 bg-slate-50'>
		{{navigation}}
	</header>
	<main>
		{{{body}}}
	</main>
	<footer class='flex flex-col items-center my-24'>
		<section class='text-slate-400 font-work-sans'>Adrian Ayala
			&copy;
			{{date format='YYYY'}}
		</section>
		<a href="/rss">
			{{> "icons/rss"}}
		</a>
	</footer>
	{{ghost_foot}}
</body>

</html>