{{!< default}}
{{#post}}
    <article class="max-w-prose mx-4 md:mx-auto mt-14 {{post_class}}">
        <header class="flex flex-col items-center">
            <h1 class="text-4xl font-bold font-work-sans mb-2 dark:text-gray-200">{{title}}</h1>
            <div class="flex">
                <span class="font-work-sans text-slate-400 text-lg">
                    <time datetime="{{date format=" YYYY-MM-DD"}}">
                        {{date format="D MMM YYYY"}}
                    </time>
                </span>
                <span class="font-work-sans text-slate-400 text-lg mx-4">•</span>
                <span class="font-work-sans text-slate-400 text-lg">
                    {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
                </span>
            </div>
        </header>
        <div class="post-content">
            {{content}}
        </div>
        {{> share-block}}
    </article>
{{/post}}