{{!< default}}
{{#post}}
    <article class="max-w-prose mx-4 md:mx-auto mt-14 {{post_class}}">
        <header class="flex flex-col items-center">
            <h1 class="text-4xl font-bold font-work-sans mb-2 dark:text-gray-200">{{title}}</h1>
            <div class="flex">
                <span class="font-work-sans text-slate-400 text-lg">
                    <time datetime="{{date format=" YYYY-MM-DD"}}">
                        {{date format="D MMM YYYY"}}
                    </time>
                </span>
                <span class="font-work-sans text-slate-400 text-lg mx-4">•</span>
                <span class="font-work-sans text-slate-400 text-lg">
                    {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
                </span>
            </div>
            {{#if feature_image}}
                <figure class="w-full min-h-[350] mt-6 rounded-lg bg-cover"
                    style="background-image: url({{feature_image}})">
                </figure>
            {{/if}}
        </header>
        <div class="post-content">
            {{content}}
        </div>
        <div class="flex justify-center">
            {{> share-block}}
        </div>
        {{!-- Related Posts --}}
        {{#get "posts" limit="3" filter="id:-{{id}}+tag:-[comic,guiones]" as |related|}}
            <section class="flex flex-col bg-slate-100 mt-6 p-8 rounded-xl dark:bg-gray-800">
                <h3 class="font-work-sans text-xl font-bold mb-4">Tal vez te puedan gustar...</h3>
                {{#foreach related}}
                    {{> card}}
                {{/foreach}}
            </section>
        {{/get}}
    </article>
{{/post}}