{{!< default}}
{{#post}}
    <article class="max-w-prose mx-auto mt-14 {{post_class}}">
        <header>
            <h1 class="text-3xl font-bold font-work-sans mb-2">{{title}}</h1>
            <span class="font-work-sans text-slate-400">
                <time datetime="{{date format=" YYYY-MM-DD"}}">
                    {{date format="D MMM YYYY"}}
                </time>
            </span>
        </header>
        <div class="post-content">
            {{content}}
        </div>
    </article>
    <aside class="flex items-center justify-between max-w-2xl mx-auto mt-12">
        {{^next_post}}
            <div class="flex-1" />
        {{/next_post}}
        {{#next_post}}
            <a href="{{url}}" class="group flex flex-1 flex-row items-center">
                {{> "icons/arrow-circle-left"}}
                <h4 class="text-lg font-work-sans text-slate-400 group-hover:text-slate-800 ml-2">{{title}}</h4>
            </a>
        {{/next_post}}
        {{#prev_post}}
            <a href="{{url}}" class="group flex flex-1 flex-row items-center justify-end">
                <h4 class="text-lg font-work-sans text-slate-400 group-hover:text-slate-800 mr-2">{{title}}</h4>
                {{> "icons/arrow-circle-right"}}
            </a>
        {{/prev_post}}
    </aside>
{{/post}}