{{!< default}}
{{#post}}
    <article class="max-w-prose mx-4 md:mx-auto mt-14 {{post_class}}">
        <header>
            <h1 class="text-3xl font-bold font-work-sans mb-2">{{title}}</h1>
            <span class="font-work-sans text-slate-400">
                <time datetime="{{date format=" YYYY-MM-DD"}}">
                    {{date format="D MMM YYYY"}}
                </time>
            </span>
        </header>
        <div class="post-content">
            {{content}}
        </div>
    </article>
{{/post}}